nav {
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    text-align: center;
    margin: 0;
    padding: 0;
    float:left;
    width: 100%;
    display:inline;
}
nav .link {
    text-decoration: none;
    color: #495057;
    float: left;
    text-align: center;
    display: block;
    padding: 14px 16px;
}

nav .link:hover:not(.active) {
    color: #007bff; /* Add a hover effect */
  }

nav .link:active {
    background-color: #04AA6D;
}