.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 100%;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes spinBackground {
  from {
    background-position: center;
    transform: rotate(0deg);
  }
  to {
    background-position: center;
    transform: rotate(360deg); /* Full rotation */
  }
}

.spinning-background {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url("logo.svg"); 
  background-size: cover; /* Adjust background scaling */
  background-repeat: no-repeat; /* No repeat for a single image */
  display: flex; /* Optional: for centering content */
  align-items: center; /* Optional */
  justify-content: center; /* Optional */
  transform-origin: center center; /* Rotate around center */
  animation: spinBackground 2s linear infinite; /* Spinning loop */
  z-index: -1; /* Behind other content */
  position: fixed; /* Fixed position */
  top: 0; /* Top edge */
  left: 0; /* Left edge */
  right: 0; /* Right edge */
  bottom: 0; /* Bottom edge */
  overflow: hidden; /* Hide overflowing content */
  pointer-events: none; /* Ignore pointer events */
  -webkit-filter: blur(8px); /* Optional: blur effect */
  filter: blur(8px); /* Optional: blur effect */
}
